name: pre-commit

on:
  pull_request:
  push:
    branches: [main]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v3
    - uses: julia-actions/setup-julia@v1
    - run: julia -e 'using Pkg; Pkg.add("JuliaFormatter")'
    - uses: ./.github/actions/pre-commit
